:root{
    --white: #fff;
    --ligth-gray: #EBEEF1;
    --dodger-blue: #1795EE;
    --medium-sea-green: #21c466;
    --pigment-green: #1DAE5B;
    --off-white-mint-cream: #CAF1DA;
    --light-cyan: #DEF6E8;
    --teal: #747D87;
    --persian-blue: #0C5BBA;
    --navy-blue-teal: #1287D8;
    --egyptian-blue: #09448A;
    --medium-cya: #A1A8B0;
    --cadet-blue: #616F8D;
    --off-white-blue: #E3ECF8;
    
}
@font-face{
    font-family: 'open sans regular';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face{
    font-family: 'open sans bold';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face{
    font-family: 'open sans light';
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'open sans light';
    font-size: 11px;
    background-color: var(--ligth-gray);
    letter-spacing: 0.165em;
}
i{
    font-style: normal;
}

.bold{
    font-family: 'open sans bold';
    font-weight: normal;
}
.button{
    padding: 14px 22px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.1;
    
    cursor: pointer;
    margin-right: 0;
    border: none;
    border-radius: 3px;
    outline: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-itm{
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}
.list-itm-link{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.165em;
    line-height: 1;
    font-size: 11px;
    font-weight: 700;
    font-family: 'open sans bold';
}